@layer motto{
    .motto-bg{
        background-image: url('../../public/images/okinawa.png');
        background-repeat: no-repeat;
        background-position: center 50%;
        background-color: #00000088;
        background-blend-mode: darken;
        background-size: cover;
    }

    /* Fixed tylko na desktopie */
    @media (min-width: 768px) {
        .motto-bg{
            background-attachment: fixed;
        }
    }
}